@model ShippingMark.Models.CartonLabel

@{
    ViewData["Title"] = "Details";
    
}

<h1>Label Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CartonNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CartonNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.BuyerCartonNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.BuyerCartonNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.StylePPJ)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.StylePPJ)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Fab)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Fab)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ColorName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ColorName)
        </dd>
        <dd class="col-sm-4">
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Col00)</th>
                    <th>@Html.DisplayNameFor(model => model.Col0)</th>
                    <th>@Html.DisplayNameFor(model => model.Col1)</th>
                    <th>@Html.DisplayNameFor(model => model.Col2)</th>
                    <th>@Html.DisplayNameFor(model => model.Col3)</th>
                    <th>@Html.DisplayNameFor(model => model.Col4)</th>
                    <th>@Html.DisplayNameFor(model => model.Col5)</th>
                    <th>@Html.DisplayNameFor(model => model.Col6)</th>
                    <th>@Html.DisplayNameFor(model => model.Col7)</th>
                    <th>@Html.DisplayNameFor(model => model.Col8)</th>
                    <th>@Html.DisplayNameFor(model => model.Col9)</th>
                    <th>@Html.DisplayNameFor(model => model.Col10)</th>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.Col00)</td>
                    <td>@Html.DisplayFor(model => model.Col0)</td>
                    <td>@Html.DisplayFor(model => model.Col1)</td>
                    <td>@Html.DisplayFor(model => model.Col2)</td>
                    <td>@Html.DisplayFor(model => model.Col3)</td>
                    <td>@Html.DisplayFor(model => model.Col4)</td>
                    <td>@Html.DisplayFor(model => model.Col5)</td>
                    <td>@Html.DisplayFor(model => model.Col6)</td>
                    <td>@Html.DisplayFor(model => model.Col7)</td>
                    <td>@Html.DisplayFor(model => model.Col8)</td>
                    <td>@Html.DisplayFor(model => model.Col9)</td>
                    <td>@Html.DisplayFor(model => model.Col10)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Col11)</th>
                    <th>@Html.DisplayNameFor(model => model.Col12)</th>
                    <th>@Html.DisplayNameFor(model => model.Col13)</th>
                    <th>@Html.DisplayNameFor(model => model.Col14)</th>
                    <th>@Html.DisplayNameFor(model => model.Col15)</th>
                    <th>@Html.DisplayNameFor(model => model.Col16)</th>
                    <th>@Html.DisplayNameFor(model => model.Col17)</th>
                    <th>@Html.DisplayNameFor(model => model.Col18)</th>
                    <th>@Html.DisplayNameFor(model => model.Col19)</th>
                    <th>@Html.DisplayNameFor(model => model.Col20)</th>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.Col11)</td>
                    <td>@Html.DisplayFor(model => model.Col12)</td>
                    <td>@Html.DisplayFor(model => model.Col13)</td>
                    <td>@Html.DisplayFor(model => model.Col14)</td>
                    <td>@Html.DisplayFor(model => model.Col15)</td>
                    <td>@Html.DisplayFor(model => model.Col16)</td>
                    <td>@Html.DisplayFor(model => model.Col17)</td>
                    <td>@Html.DisplayFor(model => model.Col18)</td>
                    <td>@Html.DisplayFor(model => model.Col19)</td>
                    <td>@Html.DisplayFor(model => model.Col20)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Col21)</th>
                    <th>@Html.DisplayNameFor(model => model.Col22)</th>
                    <th>@Html.DisplayNameFor(model => model.Col23)</th>
                    <th>@Html.DisplayNameFor(model => model.Col24)</th>
                    <th>@Html.DisplayNameFor(model => model.Col25)</th>
                    <th>@Html.DisplayNameFor(model => model.Col26)</th>
                    <th>@Html.DisplayNameFor(model => model.Col27)</th>
                    <th>@Html.DisplayNameFor(model => model.Col28)</th>
                    <th>@Html.DisplayNameFor(model => model.Col29)</th>
                    <th>@Html.DisplayNameFor(model => model.Col30)</th>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.Col21)</td>
                    <td>@Html.DisplayFor(model => model.Col22)</td>
                    <td>@Html.DisplayFor(model => model.Col23)</td>
                    <td>@Html.DisplayFor(model => model.Col24)</td>
                    <td>@Html.DisplayFor(model => model.Col25)</td>
                    <td>@Html.DisplayFor(model => model.Col26)</td>
                    <td>@Html.DisplayFor(model => model.Col27)</td>
                    <td>@Html.DisplayFor(model => model.Col28)</td>
                    <td>@Html.DisplayFor(model => model.Col29)</td>
                    <td>@Html.DisplayFor(model => model.Col30)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Col31)</th>
                    <th>@Html.DisplayNameFor(model => model.Col32)</th>
                    <th>@Html.DisplayNameFor(model => model.Col33)</th>
                    <th>@Html.DisplayNameFor(model => model.Col34)</th>
                    <th>@Html.DisplayNameFor(model => model.Col35)</th>
                    <th>@Html.DisplayNameFor(model => model.Col36)</th>
                    <th>@Html.DisplayNameFor(model => model.Col37)</th>
                    <th>@Html.DisplayNameFor(model => model.Col38)</th>
                    <th>@Html.DisplayNameFor(model => model.Col39)</th>
                    <th>@Html.DisplayNameFor(model => model.Col40)</th>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.Col31)</td>
                    <td>@Html.DisplayFor(model => model.Col32)</td>
                    <td>@Html.DisplayFor(model => model.Col33)</td>
                    <td>@Html.DisplayFor(model => model.Col34)</td>
                    <td>@Html.DisplayFor(model => model.Col35)</td>
                    <td>@Html.DisplayFor(model => model.Col36)</td>
                    <td>@Html.DisplayFor(model => model.Col37)</td>
                    <td>@Html.DisplayFor(model => model.Col38)</td>
                    <td>@Html.DisplayFor(model => model.Col39)</td>
                    <td>@Html.DisplayFor(model => model.Col40)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Col41)</th>
                    <th>@Html.DisplayNameFor(model => model.Col42)</th>
                    <th>@Html.DisplayNameFor(model => model.Col43)</th>
                    <th>@Html.DisplayNameFor(model => model.Col44)</th>
                    <th>@Html.DisplayNameFor(model => model.Col45)</th>
                    <th>@Html.DisplayNameFor(model => model.Col46)</th>
                    <th>@Html.DisplayNameFor(model => model.Col47)</th>
                    <th>@Html.DisplayNameFor(model => model.Col48)</th>
                    <th>@Html.DisplayNameFor(model => model.Col49)</th>
                    <th>@Html.DisplayNameFor(model => model.Col50)</th>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.Col41)</td>
                    <td>@Html.DisplayFor(model => model.Col42)</td>
                    <td>@Html.DisplayFor(model => model.Col43)</td>
                    <td>@Html.DisplayFor(model => model.Col44)</td>
                    <td>@Html.DisplayFor(model => model.Col45)</td>
                    <td>@Html.DisplayFor(model => model.Col46)</td>
                    <td>@Html.DisplayFor(model => model.Col47)</td>
                    <td>@Html.DisplayFor(model => model.Col48)</td>
                    <td>@Html.DisplayFor(model => model.Col49)</td>
                    <td>@Html.DisplayFor(model => model.Col50)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Col51)</th>
                    <th>@Html.DisplayNameFor(model => model.Col52)</th>
                    <th>@Html.DisplayNameFor(model => model.Col53)</th>
                    <th>@Html.DisplayNameFor(model => model.Col54)</th>
                    <th>@Html.DisplayNameFor(model => model.SizeXS)</th>
                    <th>@Html.DisplayNameFor(model => model.SizeS)</th>
                    <th>@Html.DisplayNameFor(model => model.SizeM)</th>
                    <th>@Html.DisplayNameFor(model => model.SizeL)</th>
                    <th>@Html.DisplayNameFor(model => model.SizeXL)</th>
                    <th>@Html.DisplayNameFor(model => model.Size2XL)</th>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.Col51)</td>
                    <td>@Html.DisplayFor(model => model.Col52)</td>
                    <td>@Html.DisplayFor(model => model.Col53)</td>
                    <td>@Html.DisplayFor(model => model.Col54)</td>
                    <td>@Html.DisplayFor(model => model.SizeXS)</td>
                    <td>@Html.DisplayFor(model => model.SizeS)</td>
                    <td>@Html.DisplayFor(model => model.SizeM)</td>
                    <td>@Html.DisplayFor(model => model.SizeL)</td>
                    <td>@Html.DisplayFor(model => model.SizeXL)</td>
                    <td>@Html.DisplayFor(model => model.Size2XL)</td>
                </tr>
            </table>
        </dd>
        <dd class="col-sm-8">
            -
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TotalQuantity)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TotalQuantity)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CartonQuantity)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CartonQuantity)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TotalPieces)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TotalPieces)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TotalNetWeight)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TotalNetWeight)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TotalGrossWeight)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TotalGrossWeight)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Dimension)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Dimension)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
