@model ShippingMark.Models.CartonLabel

@{
    ViewData["Title"] = "Details";
}

<h1>Label Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CartonNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CartonNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.BuyerCartonNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.BuyerCartonNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.StylePPJ)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.StylePPJ)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Fab)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Fab)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ColorName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ColorName)
        </dd>
        <dd class="col-sm-4">
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Col00)</th>
                    <th>@Html.DisplayNameFor(model => model.Col0)</th>
                    <th>@Html.DisplayNameFor(model => model.Col1)</th>
                    <th>@Html.DisplayNameFor(model => model.Col2)</th>
                    <th>@Html.DisplayNameFor(model => model.Col3)</th>
                    <th>@Html.DisplayNameFor(model => model.Col4)</th>
                    <th>@Html.DisplayNameFor(model => model.Col5)</th>
                    <th>@Html.DisplayNameFor(model => model.Col6)</th>
                    <th>@Html.DisplayNameFor(model => model.Col8)</th>
                    <th>@Html.DisplayNameFor(model => model.Col10)</th>
                    <th>@Html.DisplayNameFor(model => model.Col12)</th>
                    <th>@Html.DisplayNameFor(model => model.Col14)</th>
                    <th>@Html.DisplayNameFor(model => model.Col16)</th>
                    <th>@Html.DisplayNameFor(model => model.Col18)</th>
                    <th>@Html.DisplayNameFor(model => model.Col20)</th>
                    <th>@Html.DisplayNameFor(model => model.Col22)</th>
                    <th>@Html.DisplayNameFor(model => model.Col24)</th>
                    <th>@Html.DisplayNameFor(model => model.Col26)</th>
                    <th>@Html.DisplayNameFor(model => model.Col28)</th>
                    <th>@Html.DisplayNameFor(model => model.Col30)</th>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.Col00)</td>
                    <td>@Html.DisplayFor(model => model.Col0)</td>
                    <td>@Html.DisplayFor(model => model.Col1)</td>
                    <td>@Html.DisplayFor(model => model.Col2)</td>
                    <td>@Html.DisplayFor(model => model.Col3)</td>
                    <td>@Html.DisplayFor(model => model.Col4)</td>
                    <td>@Html.DisplayFor(model => model.Col5)</td>
                    <td>@Html.DisplayFor(model => model.Col6)</td>
                    <td>@Html.DisplayFor(model => model.Col8)</td>
                    <td>@Html.DisplayFor(model => model.Col10)</td>
                    <td>@Html.DisplayFor(model => model.Col12)</td>
                    <td>@Html.DisplayFor(model => model.Col14)</td>
                    <td>@Html.DisplayFor(model => model.Col16)</td>
                    <td>@Html.DisplayFor(model => model.Col18)</td>
                    <td>@Html.DisplayFor(model => model.Col20)</td>
                    <td>@Html.DisplayFor(model => model.Col22)</td>
                    <td>@Html.DisplayFor(model => model.Col24)</td>
                    <td>@Html.DisplayFor(model => model.Col26)</td>
                    <td>@Html.DisplayFor(model => model.Col28)</td>
                    <td>@Html.DisplayFor(model => model.Col30)</td>
                </tr>
            </table>
        </dd>
        <dd class="col-sm-8">
            -
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TotalQuantity)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TotalQuantity)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CartonQuantity)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CartonQuantity)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TotalPieces)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TotalPieces)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TotalNetWeight)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TotalNetWeight)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TotalGrossWeight)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TotalGrossWeight)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Dimension)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Dimension)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
